<section class = index-container>
  <div class = "principal-img-beer">
    <img src="/images/beer.png" alt="beer image">
  </div>
  <div class = "buttons-index">
    <a href="/beers"><button class= "button">Check the Beers!</button></a>
    <a href="/random-beer"><button class= "button">Check a Random Beer!</button></a>
  </div>
</section>